<form [formGroup]="formEmployee" (ngSubmit)="addEmployee()">
  <div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Novo empregado</h5>
          <button type="button" class="close bg-transparent border-0" (click)="hide()" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Nome</label>
            <input class="form-control" formControlName="name" type="text" [ngClass]="applyErrorCss('name')" />
          </div>
          <div class="form-group">
            <label>Salario</label>
            <input class="form-control" formControlName="salary" type="text" [ngClass]="applyErrorCss('salary')" />
          </div>
          <div class="form-group" [hidden]="employee.salary >= 1000">
            <label>Bonus</label>
            <input class="form-control" formControlName="bonus" type="text" [ngClass]="applyErrorCss('bonus')" />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="hide()" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Incluir</button>
        </div>
      </div>
    </div>
  </div>
</form>
