<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar empregado {{employee?.name}}</h5>
        <button type="button" class="close bg-transparent border-0" (click)="hide()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="employee">
        Deseja excluir o empregado {{employee?.name}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="hide()" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" (click)="destroy()">Excluir</button>
      </div>
    </div>
  </div>
</div>
